.fondoUnoyDos{
    background:#1A4341;
  }
.fondoCuatro{
    background: #AA445F;
}

.fondoSeis{
    background: #F3AC3C;
}

.fondoSiete{
    background: #62306D;
}
.fondoOcho{
    background: #62374e;
}

.position{
    position: relative;
    top: 150px;
    left: 400px;
}








  